* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: rgb(59,60,40);
    background: radial-gradient(circle, rgba(59,60,40,1) 0%, rgba(39,40,34,1) 100%);
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    font-variant: small-caps;
    
}

.App {
    height: 100vh;
    width: 100%;
    background-image: url('../../public/index_files/bg4.png');
    
    
}
.mainframe {
    height: 100%;
    width: 100%;
}
.main{
    height: 90%;
    width: 100%;
   display: flex;
    justify-content: space-around;
}
.lowbtns {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collist {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.colcontainer {
    margin: 10px;
    padding: 10px;
    display: flex;
    width: 40%;
    height: 100%;
    
}
.col {
    min-width: 150px;
    width: 80%;
    height: 100%;
    
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    position: relative;
}



.bezierall {
    width: 20%;
    height: 100%;
    min-width: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.bezier {

    width: 100%;
    height: 100%;
    min-width: 30px;
    
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.comps {
    position: absolute;
    top: 180px;
    width: 92%;
    height: 20%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
}

.split {
    position: absolute;
    top: 10px;
    
    width: 92%;
    height: 20%;
    border: 0px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
}

.splitcols {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}



